.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main {
	border: 2px solid black;
}

body {
  background-image: url("../images/background2.jpg");
	background-size: cover;
}

.row {
	background-color: black;
	color: white;
	opacity: 0.8;
}
